name: build-cshared

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  pull_request:

jobs:

  linux-windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install compilers
        run: |
          sudo apt update
          sudo apt install -y \
            mingw-w64 \
            gcc-aarch64-linux-gnu

      # =====================
      # Linux
      # =====================

      - name: Build Linux amd64
        run: |
          mkdir -p dist
          CGO_ENABLED=1 GOOS=linux GOARCH=amd64 CC=gcc \
          go build -buildmode=c-shared -trimpath -ldflags "-s -w -buildid=" \
          -o dist/linux_amd64.so

      - name: Build Linux arm64
        run: |
          CGO_ENABLED=1 GOOS=linux GOARCH=arm64 CC=aarch64-linux-gnu-gcc \
          go build -buildmode=c-shared -trimpath -ldflags "-s -w -buildid=" \
          -o dist/linux_arm64.so

      # =====================
      # Windows
      # =====================

      - name: Build Windows amd64
        run: |
          CGO_ENABLED=1 GOOS=windows GOARCH=amd64 CC=x86_64-w64-mingw32-gcc \
          go build -buildmode=c-shared -trimpath -ldflags "-s -w -buildid=" \
          -o dist/windows_amd64.dll

      # - name: Build Windows arm64
      #   run: |
      #     CGO_ENABLED=1 GOOS=windows GOARCH=arm64 CC=aarch64-w64-mingw32-gcc \
      #     go build -buildmode=c-shared -trimpath -ldflags "-s -w -buildid=" \
      #     -o dist/windows_arm64.dll

      - uses: actions/upload-artifact@v4
        with:
          name: cshared-linux-windows
          path: dist/

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      # =====================
      # macOS arm64
      # =====================
      - name: Build macOS arm64
        run: |
          mkdir -p dist
          CGO_ENABLED=1 GOOS=darwin GOARCH=arm64 CC=clang \
          go build -buildmode=c-shared -trimpath -ldflags "-s -w -buildid=" \
          -o dist/darwin_arm64.dylib

      # =====================
      # macOS amd64
      # =====================
      - name: Build macOS amd64
        run: |
          CGO_ENABLED=1 GOOS=darwin GOARCH=amd64 CC=clang \
          go build -buildmode=c-shared -trimpath -ldflags "-s -w -buildid=" \
          -o dist/darwin_amd64.dylib

      # =====================
      # Universal (fat)
      # =====================
      - name: Create universal dylib
        run: |
          lipo -create \
            dist/darwin_arm64.dylib \
            dist/darwin_amd64.dylib \
            -output dist/darwin_universal.dylib

      - uses: actions/upload-artifact@v4
        with:
          name: cshared-macos
          path: dist/


  release:
    runs-on: ubuntu-latest
    needs: [linux-windows, macos]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Show files
        run: ls -R dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
